@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  font-family: 'SamsungSharpSans', Arial, sans-serif !important;
}

h1, h2 {
  font-family: 'SamsungOne-700', Arial, sans-serif;
  font-weight: 700;
}

p {
  font-family: 'SamsungOne', Arial, sans-serif;

}

